.products {
  display: flex;
  justify-content: space-around;
  margin: 40px 0;
}

.card-products {
  width: 300px;
  background: rgb(167, 255, 255);
  padding: 20px;
  transition: 0.3s ease;
  border-radius: 15px;
  cursor: pointer;
  img {
    width: 60px;
    position: relative;
    left: 50%;
    margin-bottom: 15px;
    transform: translateX(-50%);
  }
  h1 {
    font-size: 30px;
    text-align: center;
  }
  p {
    margin-left: 10px;
  }
  &:hover {
    transform: translateY(-15px);
  }
}

@media screen and (max-width: 1024px) {
  .products {
    flex-direction: column;
  }
  .parent-for-products {
    display: flex;
    justify-content: center;
  }
  .card-products {
    margin-top: 20px;
  }
}
