.newsletter {
  margin-top: 40px;
  background: rgb(96, 255, 255);
  padding: 40px 30px 30px 50px;
  display: flex;
  justify-content: center;
  h1 {
    text-align: center;
  }
  .inputs {
    margin-top: 40px;
    padding-bottom: 50px;
  }
  input {
    outline: none;
    padding: 13px;
    font-size: 20px;
    border: 2px solid transparent;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    width: 500px;
  }
  button {
    margin: none;
    position: relative;
    right: 5px;
    padding: 13px;
    font-size: 20px;
    outline: none;
    border: 2px solid transparent;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    width: 200px;
    background: dodgerblue;
    color: white;
    transition: 0.3s ease;
    &:hover {
      background: rgb(0, 123, 255);
    }
  }
}

@media (max-width: 1024px) {
  #newsletter-input,
  .subscribe {
    border-radius: 30px !important;
  }
  .subscribe {
    margin-top: 15px;
    width: 100%;
  }

  #newsletter-input {
    width: 100%;
  }
  .parent---- {
    text-align: center;
  }
}
